.wa-float{
	position:fixed;
	width:180px;
	height:50px;
	bottom:25px;
	right:25px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:16px;
	box-shadow: 2px 2px 3px rgba(239, 239, 239, 0.3);
  	z-index:100;
	text-decoration: none;
}

.wa-float:hover{
	color:#FFF;
}

.my-float{
	margin-top:16px;
}

#custom-wa-button{
	border-radius: 7px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 16px;
	padding: 8px 30px;
	color: white;
	background-color: #00E777;
	border-color: #00E777;
}