/* STATUS PESANAN */

/* Status Menunggu */
.Menunggu
{
    border-radius: 20px;
    background-color: #FFEFDF;
    color: #d58025;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 15px;
}

/* Status Selesai */
.Selesai
{
    border-radius: 20px;
    background-color: #ECF7EC;
    color: #578E59;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 15px;
}

.Berlangsung
{
    border-radius: 20px;
    background-color: #EBF2FF;
    color: #5382CC;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 15px;
}

.Dibatalkan
{
    border-radius: 20px;
    background-color: #FFE8E7;
    color: #ee627e;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 15px;
}

.Ditolak
{
    border-radius: 20px;
    background-color: #FFE8E7;
    color: #ee627e;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 20px;
}

.TelahDatang
{
    border-radius: 20px;
    background-color: #F0E5FD;
    color: #AF85D8;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 20px;
}

/* STATUS USER */

/* Status Users Aktif */
.Y
{
    margin: auto;
    width: 9.5rem;
    border-radius: 20px;
    background-color: #ebfff2;
    color: #41b65a;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 0px;
}

/* Status Users Tdak Aktif */
.T
{
    margin: auto;
    width: 9.5rem;
    border-radius: 20px;
    background-color: #fff1eb;
    color: #cd3c22;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 0px;
}

/* Status Users Aktif */
.Y-detail
{
    width: 6rem;
    border-radius: 20px;
    background-color: #ebfff2;
    color: #41b65a;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 12px 4px 0px;
}

/* Status Users Tidak Aktif */
.T-detail
{
    width: 9.5rem;
    border-radius: 20px;
    background-color: #fff1eb;
    color: #cd3c22;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    padding: 4px 10px 4px 0px;
}